<div class="about-modal-content">
    <button class="about-modal-close" aria-label="Close">&times;</button>
    <h2 id="about-modal-title">About this Project</h2>
    <div class="about-modal-body">
        <p>
            CollectionBuilder Wizard is a small project created by Rolando Rodriguez, Humanities Data Librarian
            at the University of North Carolina at Chapel Hill as a personal passionate project. Having used and taught
            CollectionBuilder for the last handful of years, Rolando found that digital humanists struggled with
            the technical curve when they wanted to set up a digital exhibit quickly. In repsonse, he created this
            project to allow more digital humanists to get an guided start to using CollectionBuilder.
        </p>
        <p>
            Some things to note about this project: It is written in HTML, CSS, and vanilla Javascript. It is
            open-source and
            hosted via GitHub Pages. All data is stored via LocalStorage or IndexedDB on the client's browser.
            <a href="https://github.com/RolRodr/cbwizard" target="_blank">Click here to visit the repository</a>.
        </p>
    </div>
</div>