<footer id="main-footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>Created by <a href="https://guides.lib.unc.edu/rolandorodriguez" target="_blank">Rolando Rodriguez</a></p>
            <p>Icons by <a href="https://thenounproject.com" target="_blank">Noun Project</a></p>
        </div>
        <div class="footer-right">
            <a href="https://github.com/RolRodr/cbwizard" target="_blank" rel="noopener noreferrer">GitHub</a> | <a
                href="https://collectionbuilder.github.io/" target="_blank" rel="noopener noreferrer">About this
                project</a>
        </div>
    </div>
</footer>
    