<!-- Step 0: Welcome -->
<section id="step-0" class="wizard-step active">
    <h2>Welcome to CollectionBuilder Wizard!</h2>
    <p>This tool allows you to quickly get started creating a <a href="https://collectionbuilder.github.io/" target="_blank"
        rel="noopener noreferrer">CollectionBuilder</a> digital exhibit, created by the Center for Digital Inquiry and 
        Learning at the University of Idaho. I created this tool in response to working with digital humanists who found 
        CollectionBuilder appealing but still technically difficult. At this point, this tool is just fun project intended 
        to get you started with CollectionBuilder. You should still familiarize yourself with the CollectionBuilder documentation 
        (it's really well-detailed).</p>
    
    <p>You will need a GitHub account. <a href="https://github.com/signup" target="_blank">Click here to make one</a></p>
    <button id="start-btn" style="margin-top: 20px;">Get Started</button>
    <p style="margin-top: 16px; font-size: 0.9rem;"><a href="#" id="about-link-step0">About this Project</a></p>
</section>
